body{
    background-color: royalblue;
}

h1{
    color: red;
    font-family: 'Zen Dots', sans-serif;
    font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1600 - 320)));
}

nav{
    display: flex;
    justify-content: left;
}

img{
    border-radius: 80px;
}

section{
    color: white;
    font-family: 'Crimson Text', serif;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
}

.text-center{
    text-align: center;
}

.navdisp{
    margin-left: 20px;
    background-color: darkslategray;
    color: royalblue;
    border-radius: 20px;
    padding: calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320)));
}

.navghost{
    pointer-events: none; 
    cursor: default; 
    text-decoration: none; 
    background-color:white; 
    color: royalblue;
    border-radius: 20px;
    margin-left: 20px;
    padding: calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320)));
}

.steps-explanation{
    display: none;
}

#steps-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(215, 215,215);
}

#white-button{
    background-color:white!important; 
    color: royalblue!important;
}

.step-button{
    color: royalblue;
    background-color: darkslategray;
    border-radius: 20px;
    padding: calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320)));
    margin:calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320))) calc(2px + (20 - 2) * ((100vw - 320px) / (1600 - 320)));
}
